<h1>Stupid Coaching</h1>

<div class='quote'>
  <p><%=params[:question]%></p>
  <p>-You</p>
</div>

<div class='quote coach'>
  <p><strong><%=@question%></strong></p>
  <p>-Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
